#react-page {
    font: 12px sans-serif;
    padding: var(--size-xsmall);
    /* padding: 20px; */
}

.button {
    /* margin-top: var(--size-xsmall); */
}

.button.button--inline {
    padding: 0 var(--size-xxsmall);
    background-color: unset;
    color: var(--black);
}

.option-set {
    margin-bottom: var(--size-small);
    padding-bottom: var(--size-small);
    border-bottom: 1px solid var(--silver);
}

.option-set .type {
    margin-top: 0;
}

.option-set .label {
    height: auto;
    margin-bottom: var(--size-xxsmall);
}

.option-set .label-heading {
    color: var(--black);
    font-weight: var(--font-weight-bold);
}

.option-set .button {
    width: calc(100% - var(--size-xxsmall) * 2);
    margin: var(--size-xxsmall) auto 0;
    justify-content: center;
}
